{
  "project_info": {
    "project_number": "your_project_number_here",
    "project_id": "your_project_id_here",
    "storage_bucket": "your_project_id.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "your_mobilesdk_app_id_here",
        "android_client_info": {
          "package_name": "com.chefray.chefray"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "your_firebase_api_key_here"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
